@import '../../../assets/styles/variables.scss';

:host {
    height: 100%;
}

#resource-container {
    background-color: $main-bg-color;
    position: relative;
    top: #{$resource-offset}px;
    height: calc(100% - #{$resource-offset}px);
    overflow-y: auto;
    padding: 5px;
}