$offset: 42;

:host {
    height: 100%;
}

#file-tab-container {
    position: relative;
    top: #{$offset}px;
    height: calc(100% - #{$offset}px);
    overflow-y: auto;
    flex-wrap: nowrap;
    padding: 5px;
}

.file-tab-item {
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    padding: 8px;
    margin-top: 10px;
    opacity: 0.85;
    &:hover {
        opacity: 1;
    }
}

.resource-type {
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    padding: 5px;
    color: white;
}