@import '../assets/styles/variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#nav-tabs-container {
    position: fixed;
    z-index: 10;
    width: 100%;
}

.nav-item {
    &:hover {
        cursor: pointer;
    }
}

.nav-link.active {
    background-color: $main-bg-color;
    border-color: $main-bg-color;
}